<app-background>
</app-background>
<section *ngIf='launched'>

<div class="camera">
  <!-- <h2 *ngIf='launched' class="camIntro">Now look at the camera <i class="material-icons">face</i></h2> -->
  <div class="cameraTopPadding"></div>
  <app-camera class="webcamComp"></app-camera>
</div>

</section>

<!-- *** Sign Up View ***-->
<section *ngIf='!loggedIn && toSignInBoolean' class="signUp">
  <div class="intro" *ngIf='!launched'>
    <h1 color="primary">How do you feel?</h1>
    <h2>Let me guess..Make a face expression.</h2>
    <button md-raised-button color="primary" class="buttonToCamera" (click) = "readyClick()">I Am Ready!</button>
  </div>


  <md-spinner *ngIf="launched && progress"></md-spinner>

  <!-- [style.background-image]="base64?'url('+base64+')':null" -->



  <form (ngSubmit)="signUp()" *ngIf="proceedToSignUpBoolean">

    <md-input-container class="input-width">
      <input mdInput type="text" placeholder="Name" [formControl]="nameFormControl"
       [(ngModel)]="nameInput" name="nameInput" >
      <md-error *ngIf="nameFormControl.hasError('pattern')">
        Please enter a valid name - no special characters or number
      </md-error>
      <md-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </md-error>
      <md-error *ngIf="nameFormControl.hasError('minlength') || nameFormControl.hasError('maxlength')">
        Name must be 3-20 characters
      </md-error>
    </md-input-container>

    <md-input-container class="input-width">
      <input mdInput type="password" placeholder="Password" [formControl]="passwordFormControl"
       [(ngModel)]="passwordInput" name="passwordInput">
      <md-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('minlength')">
        Password must be at least 4 characters long
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('maxlength')">
        Password can't be longer than 20 characters
      </md-error>
    </md-input-container>

    <button md-raised-button class= "signUpBtn"
    [disabled]="nameFormControl.errors || passwordFormControl.errors">
      <span
      [mdTooltip]="(nameFormControl.errors || passwordFormControl.errors) ?
      'Complete the form to Sign Up!' : null">
        Sign Up
      </span>
    </button>

  </form>


  <a md-button class="routeToLoginBtn" *ngIf="!launched" (click) = "signAndLogToggle()">To Log In..</a>

</section>


<!-- *** LogIn View *** -->
<section *ngIf="!loggedIn && !toSignInBoolean" class="login">

  <form (ngSubmit)="logIn()">

    <md-input-container class="input-width">
      <input mdInput type="text" placeholder="Name" [formControl]="nameFormControl"
       [(ngModel)]="nameInput" name="nameInput" >
      <md-error *ngIf="nameFormControl.hasError('pattern')">
        Please enter a valid name - no special characters or number
      </md-error>
      <md-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </md-error>
      <md-error *ngIf="nameFormControl.hasError('minlength') || nameFormControl.hasError('maxlength')">
        Name must be 3-20 characters
      </md-error>
    </md-input-container>

    <md-input-container class="input-width">
      <input mdInput type="password" placeholder="Password" [formControl]="passwordFormControl"
       [(ngModel)]="passwordInput" name="passwordInput">
      <md-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('minlength')">
        Password must be at least 4 characters long
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('maxlength')">
        Password can't be longer than 20 characters
      </md-error>
    </md-input-container>

    <button md-raised-button class= "logInBtn"
    [disabled]="nameFormControl.errors || passwordFormControl.errors">
      <span
      [mdTooltip]="(nameFormControl.errors || passwordFormControl.errors) ?
      'Complete the form to Log In!' : null">
        Log In
      </span>
    </button>

  </form>

  <a md-button class="routeToSignUpBtn" (click)="signAndLogToggle()">To Sign Up..</a>

</section>



<section *ngIf="loggedIn" class="alarmView">

  <md-sidenav-container class="side-container" *ngIf="!ringingViewBoolean">
    <md-sidenav #sidenav class="sidenav">
      <button md-button (click)="viewAlarm()">&nbsp;
        <i class="material-icons">alarm</i>
        <span>Alarm</span>
      </button>
      <button md-button (click)="viewFeed()">&nbsp;
        <i class="material-icons">face</i>
        Feed
      </button>
      <button md-button (click)="logOut()">
        <i class="material-icons">subdirectory_arrow_left</i>&nbsp;
        Log Out
      </button>

    </md-sidenav>

    <div class="sideBar">
      <button type="button" md-button (click)="sidenavOpen()">
        <i class="material-icons">menu</i>
      </button>
    </div>

  </md-sidenav-container>

  <div class="currentClock">

    {{ now | date:"hh"}}<span>:</span>{{ now | date:"mm"}}<span>:</span>{{ now | date:"ss"}}<span class="smaller"> {{ now | date:'a'}}</span>

  </div>

  <div class="alarmList" *ngIf="!ringingViewBoolean && currentUser.currentAlarm">

    <md-chip-list class="mat-chip-list-stacked">
      <md-chip *ngFor="let alarm of currentUser.currentAlarm">
        <span>{{ alarm.timeSet.slice(16, 24) }} {{ ( alarm.timeSet.slice(16,18)>12 )? "PM":"AM" }}</span> <i class="material-icons">close</i>
      </md-chip>
      <!-- <md-chip>Naan</md-chip>
      <md-chip>Dal</md-chip> -->
    </md-chip-list>

  </div>

  <form class="alarmInterface" (ngSubmit)="createAlarm()" *ngIf="toAlarmBoolean && !ringingViewBoolean">
    <md-grid-list cols="2" rowHeight="3:1" style="padding-top: 40px; border-radius:10px 10px 0 0">

      <md-grid-tile>
        <span mdTooltip="Alarm" mdTooltipPosition="above">
          <label for="alarmCheck" (click)="isAlarmCheckedToggle()">
              <i class="material-icons alarmIcon pinkIt">alarm</i>
          </label>
        </span>
      </md-grid-tile>
      <md-grid-tile>
        <span mdTooltip="Timer" mdTooltipPosition="above">
          <label for="timerCheck" (click)="isAlarmCheckedToggle()">
              <i class="material-icons timerIcon">timer</i>
          </label>
        </span>
      </md-grid-tile>

    </md-grid-list>
    <md-grid-list cols="2" rowHeight="5:1">
      <md-grid-tile>
         <md-slide-toggle input id ="alarmCheck" [checked]="isAlarmChecked"
          (click)="isAlarmCheckedToggle()" disabled></md-slide-toggle>
      </md-grid-tile>
      <md-grid-tile>
         <md-slide-toggle input id ="timerCheck" [checked]="!isAlarmChecked"
          (click)="isAlarmCheckedToggle()" disabled></md-slide-toggle>
      </md-grid-tile>
    </md-grid-list>

    <md-grid-list cols="10" rowHeight="0.5:1" class="timeSetting">
      <md-grid-tile [colspan]="1"></md-grid-tile>
      <md-grid-tile [colspan]="8">
        <md-input-container>
          <input mdInput [formControl]="hoursFormControl"
           [(ngModel)]="hoursInput" name="hoursInput" >
        </md-input-container><span>:</span>
        <md-input-container>
          <input mdInput [formControl]="minsFormControl"
           [(ngModel)]="minsInput" name="minsInput">
        </md-input-container><span>:</span>
        <md-input-container>
          <input mdInput [formControl]="secsFormControl"
           [(ngModel)]="secsInput" name="secsInput">
        </md-input-container>
        <label class="amBtn shiftALittle" (click)="amPmToggle()" *ngIf="isAlarmChecked">AM</label>
      </md-grid-tile>
      <md-grid-tile [colspan]="1"></md-grid-tile>
    </md-grid-list>

    <md-grid-list cols="1" rowHeight="9:1">
      <md-grid-tile>

        <md-select placeholder="Sound" [(ngModel)]="selectedAudio" name="selectedAudio">
          <md-option *ngFor="let sound of sounds" [value]="sound.value">
            {{ sound.viewValue }}
          </md-option>
        </md-select>

      </md-grid-tile>
    </md-grid-list>

    <md-grid-list cols="1" rowHeight="4:1" style="border-radius:0 0 10px 10px">
      <md-grid-tile>
        <button md-raised-button
        [disabled]="hoursFormControl.errors || minsFormControl.errors ||
        secsFormControl.errors || !selectedAudio">
          <span
          [mdTooltip]="(hoursFormControl.errors || minsFormControl.errors ||
          secsFormControl.errors || !selectedAudio) ?
          'Complete the alarm form!' : null">
            SET
          </span>
        </button>
      </md-grid-tile>
    </md-grid-list>

  </form>

  <div class="ring-container" *ngIf="ringingViewBoolean">
    <md-chip-list>
      <md-chip class="msgChip">Click to Unlock</md-chip>
    </md-chip-list>
   <div class="ring-icon">
    <svg class="ringingAlarm" fill="#000000" height="96" width="96" viewbox="0 0 96 96">
      <circle id="clockface" cx="48" cy="48" stroke="black" r="30" stroke-width="8" fill="none"/>
      <circle id="clockcentre" cx="48" cy="48" fill="black" r="4" />
      <rect id="bell1" x="10" y="10" width="26" height="8" style="-ms-transform: rotate(-40deg); transform: rotate(-40deg); transform-origin: center;"/>
      <rect id="bell2" x="60" y="10" width="26" height="8" style="-ms-transform: rotate(40deg); transform: rotate(40deg); transform-origin: center"/>
      <line id="hour" x1="48" y1="50" x2="48" y2="28" style="stroke-width:4px; stroke: black; fill:none;"/>
      <line id="minute" x1="46" y1="50" x2="64" y2="60" style="stroke-width:4px; stroke: black; fill:none;"/>
    </svg>
   </div>
  </div>

</section>
