
@import "~assets/colors.scss";

section{
  position: absolute;
  margin: 0;
  padding: 0 22%;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  z-index: 999;
}

form{
  position: absolute;
  width: 40%;
  margin: 0;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

.input-width {
  width: 100%;
  color: white;
  margin-bottom: 25px;
}

.logInBtn{
  width: 40%;
  height: 60px;
  margin: auto;
  background-color: $pink500;
  font-size: 1em;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

.routeToSignUpBtn{
  position: absolute;
  top: 10%;
  right: 5%;
  width: 150px;
  height: 60px;
  font-size: 1.5em;
  color: $pink200;
  font-weight: 100;
  transform: translate(-50%,-50%);
  line-height: 60px;
  // border-bottom: 1px solid $pink700;
}

.routeToSignUpBtn:after{
  content: '';
  display: block;
  position: absolute;
  width:85px;
  bottom:5px;
  left:33px;
  border-bottom: 1px solid $pink200;
}

md-error{
  font-size: 0.8em;
}
