<app-background>
</app-background>

<section>

  <form (ngSubmit)="logIn()">

    <md-input-container class="input-width">
      <input mdInput type="text" placeholder="Name" [formControl]="nameFormControl"
       [(ngModel)]="nameInput" name="nameInput" >
      <md-error *ngIf="nameFormControl.hasError('pattern')">
        Please enter a valid name - no special characters or number
      </md-error>
      <md-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </md-error>
      <md-error *ngIf="nameFormControl.hasError('minlength') || nameFormControl.hasError('maxlength')">
        Name must be 3-20 characters
      </md-error>
    </md-input-container>

    <md-input-container class="input-width">
      <input mdInput type="password" placeholder="Password" [formControl]="passwordFormControl"
       [(ngModel)]="passwordInput" name="passwordInput">
      <md-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('minlength')">
        Password must be at least 4 characters long
      </md-error>
      <md-error *ngIf="passwordFormControl.hasError('maxlength')">
        Password can't be longer than 20 characters
      </md-error>
    </md-input-container>

    <button md-raised-button class= "logInBtn"
    [disabled]="nameFormControl.errors || passwordFormControl.errors">
      <span
      [mdTooltip]="(nameFormControl.errors || passwordFormControl.errors) ?
      'Complete the form to Log In!' : null">
        Log In
      </span>
    </button>

  </form>

  <a md-button class="routeToSignUpBtn" routerLink = "/signup">To Sign Up..</a>

</section>
